In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 1. Pre-Processing

In [4]:
df = pd.read_csv("/Users/hannahwurzel/Desktop/dl-firefighters/DL-firefighters/data/data660k.csv")
df.head()

,Unnamed: 0,start_date,fire_ID,lat,lon,size,perimeter,start_DOY,end_date,end_DOY,duration,expansion,fire_line,speed,direction,direction_s,landcover,landcover_s,tile_ID,geometry
0,2566038,2005-07-02,584383,-6.7438,22.3535,0.21,1.85,183,2005-07-02,183,1,0.21,0.46,0.46,0,none,8,Woody savannas,h20v09,"POLYGON ((22.35037406370953 -6.74166666610823,..."
1,3258696,2005-12-06,250743,8.8188,3.2881,0.21,1.85,340,2005-12-06,340,1,0.21,0.46,0.46,0,none,9,Savannas,h18v08,POLYGON ((3.2846822924633345 8.820833332498871...
2,5600233,2008-07-27,640420,-15.0104,27.6267,0.86,3.70,209,2008-07-30,212,4,0.21,0.46,0.50,1,north,9,Savannas,h20v10,POLYGON ((27.620844048341272 -15.0041666653687...
3,3644868,2006-09-10,637240,-16.2812,24.7243,1.29,4.63,253,2006-09-10,253,1,1.29,2.78,0.85,0,none,8,Woody savannas,h20v10,POLYGON ((24.720269461331405 -16.2791666652545...
4,7274504,2010-09-24,396369,-12.9688,18.0960,1.71,6.48,267,2010-09-25,268,2,0.86,1.85,0.86,4,southeast,8,Woody savannas,h19v10,POLYGON ((18.090459431003897 -12.9666666655510...

In [5]:
df.columns

Index(['Unnamed: 0', 'start_date', 'fire_ID', 'lat', 'lon', 'size',
       'perimeter', 'start_DOY', 'end_date', 'end_DOY', 'duration',
       'expansion', 'fire_line', 'speed', 'direction', 'direction_s',
       'landcover', 'landcover_s', 'tile_ID', 'geometry'],
      dtype='object')

### 1a. Removing unnecessary columns

In [7]:
data = df.drop(columns=["Unnamed: 0", "fire_ID", "start_date", "end_date", "direction_s", "landcover_s", "tile_ID", "geometry"])
data.head()

,lat,lon,size,perimeter,start_DOY,end_DOY,duration,expansion,fire_line,speed,direction,landcover
0,-6.7438,22.3535,0.21,1.85,183,183,1,0.21,0.46,0.46,0,8
1,8.8188,3.2881,0.21,1.85,340,340,1,0.21,0.46,0.46,0,9
2,-15.0104,27.6267,0.86,3.70,209,212,4,0.21,0.46,0.50,1,9
3,-16.2812,24.7243,1.29,4.63,253,253,1,1.29,2.78,0.85,0,8
4,-12.9688,18.0960,1.71,6.48,267,268,2,0.86,1.85,0.86,4,8

### 1b. Scale the data using Min/Max Normalization

In [8]:
data_temp = data.drop('expansion', axis=1)
df_norm = (data_temp-data_temp.min())/(data_temp.max()-data_temp.min())
df_norm = pd.concat((df_norm, data.expansion), 1)

In [9]:
df_norm.head()

,lat,lon,size,perimeter,start_DOY,end_DOY,duration,fire_line,speed,direction,landcover,expansion
0,0.364041,0.562074,0.000000,0.000000,0.498630,0.498630,0.0000,0.001943,0.003484,0.000,0.031373,0.21
1,0.493008,0.509106,0.000000,0.000000,0.928767,0.928767,0.0000,0.001943,0.003484,0.000,0.035294,0.21
2,0.295535,0.576724,0.000107,0.001419,0.569863,0.578082,0.0375,0.001943,0.004147,0.125,0.035294,0.21
3,0.285004,0.568661,0.000177,0.002132,0.690411,0.690411,0.0000,0.013502,0.009954,0.000,0.031373,1.29
4,0.312454,0.550246,0.000246,0.003551,0.728767,0.731507,0.0125,0.008869,0.010119,0.500,0.031373,0.86

### 1c. Split data in train and test sets

In [11]:
train_df, test_df = train_test_split(df_norm, test_size=0.2)

In [12]:
print("Length of train dataset: ", len(train_df), "\nLength of test dataset: ", len(test_df))

Length of train dataset:  530024
Length of test dataset:  132506

# 2. Modeling

### 2a. SVM